 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: 	#F4F6FB;
}


/* header img */
.header{
    background-image: url(images/Hero-bg.png);
    padding-top: 20px;
    padding-bottom: .02px;
}
/* button style */
.btn-primary{
    width: 132px;
    height: 48px;
    padding: 12px 24px;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.btn-2{
    width: 174px;
    height: 48px;
    padding: 12px 24px;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;   
}
.section-btn{
    width: 229px;
    height: 48px;
    padding: 12px 24px;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer; 
}
/* nav style */
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 0px 150px;
}
nav ul li{
    list-style: none;
}
.logo{
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #4E47FF;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner style */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 250px 267px 237px 267px;
}
.banner h1{
    text-align: center; 
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #252432;

}
/* section style */
.section-1{
    display: flex;
    justify-content: center;
    gap: 220px;
    padding-top: 116px;
    
}
.left-side{
    padding-top: 70px;
}
.section-title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #252432;
    font-size: 42px;
    margin-bottom: 10px;
}
.section-sub-title{
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #2524328a;
    margin-bottom: 15px;
}
.section-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* productive user section */
.user-section {
  background-color: #ece9fd;
  text-align: center;
  padding: 50px 20px;
  border-radius: 24px;
  margin: 100px auto;
  max-width: 1140px;
}

.user-section h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;  
  color: #252432;
  font-size: 38px;
}

.user-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px; 
}

.user-box h3 {
  font-family: "Inter", sans-serif;  
  color: #4E47FF;
  font-size: 70px;
  margin: 0;
}

.user-box p {
  font-family: "Inter", sans-serif;   
  color: #00000083;
  margin-top: 5px;
  font-size: 20px;
}
/* user section 2 */
.user-section-2{
    align-items: center;
}
.user-container2{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.user-title{
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #252432;
    font-size: 40px;
    font-weight: bold;
    margin-top: 137px;
    margin-bottom: 50px;
}
.card{
    width: 370px;
    height: 244px;
    background-color: #ffffffc9;
    border-radius: 14px;
    padding: 24px 24px 24px;
}
.title{
    margin-top: 24px;
    margin-bottom: 8px;
}
.card-subtitle{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.56);
    margin-bottom: 24px;
}
.pro-pic-with-name{
    display: flex;
    gap: 24px;
}
.nameh3{
    color: rgba(0, 0, 0, 0.514);
}
.date{
    color: rgba(0, 0, 0, 0.434);
}
.propic{
    border-radius: 50%;
}
/* section 3 style */
.section3{
    width: 1140px;
    height: 697px;
    justify-items: center;
    background-color: #ffffffc9;
    border-radius: 15px;
    padding: 71px 150px 71px 150px;
    margin-top: 137px;
    margin-left: auto;
    margin-right: auto;
}
.section3-title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
    margin-bottom: 20px;
}
.section3-sub-title{
    color: rgba(0, 0, 0, 0.514);
    margin-bottom: 20px;
}
.section3-img{
    border-radius: 48px;
    margin-top: 20px;
    margin-bottom: 71px;
}
/* section 4 +  form style  */
.section-4{
    display: flex;
    justify-content: center;
    gap: 116px;
    padding: 71px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section4-title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 97px;
    margin-top: 200px;
}
.contact-form {
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    margin-top: 71px;
}
 .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-family: "Inter", sans-serif;
    font-size: 18px;  
    font-weight: 400;
    color: #333;
}

.contact-form input{
    width: 500px;
    height: 70px;
    padding: 20px 271px 20px 32px;
    border: 1px solid wheat;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    color: #482d2d97;
    font-size: 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 19px;
}

.contact-form textarea {
    resize: vertical;
    width: 500px;
    height: 135px;
    padding: 20px 257px 85px 32px;
    border: 1px solid wheat;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    color: #482d2d97;
    font-size: 20px;
    outline: none;
    box-sizing: border-box;
}

.btn4{
    width: 500px;
    height: 62px;
    padding: auto;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 19px;     
}
/* footer style */
.finally{
    height: 428px;
    justify-items: center;
    padding: 3px;
    background-color: rgba(129, 224, 5, 0.144);
    
}
.footer-list{
    list-style: none;
    display: flex;
    gap: 48px;
}
.footer-title{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #4E47FF;
    margin-top: 104px;
    margin-bottom: 8px;
}
.footer-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #8987A1;
}
.list-item{
    font-size: 21px;
    font-weight: 450;
    color: #8987A1;
    margin-top: 20px;
}
/* last touch button hoover */
.btn4:hover {
  background-color: #04AA6D;
  color: white;
}
.section-btn:hover {
  background-color: #04AA6D;
  color: white;
}
.btn-2:hover {
  background-color: #04AA6D;
  color: white;
}
.btn-primary:hover {
  background-color: #04AA6D;
  color: white;
}