 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: 	#F4F6FB;
}


/* header img */
.header{
    background-image: url(images/Hero-bg.png);
    padding-top: 20px;
    padding-bottom: .02px;
}
/* button style */
.btn-primary{
    padding: 12px 24px;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btn-2{
    padding: 12px 24px;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;   
}
.section-btn{
    padding: 12px 24px;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer; 
}
/* nav style */
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 0px 150px;
}
nav ul li{
    list-style: none;
}
.logo{
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-weight: 750;
    color: #4E47FF;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner style */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 250px 267px 237px 267px;
}
.banner h1{
    text-align: center; 
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #252432;

}
/* section style */
.section-1{
    display: flex;
    justify-content: center;
    gap: 220px;
    padding-top: 116px;
    
}
.left-side{
    padding-top: 70px;
}
.section-title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #252432;
    font-size: 42px;
    margin-bottom: 10px;
}
.section-sub-title{
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #2524328a;
    margin-bottom: 15px;
}
.section-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
    